table, td, tr, th{
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
    background-color:beige;
}
table{
   margin: 100px 80px 100px 160px;
}
.left{
    text-align: left;
}