@import url("https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

/* Navigation section*/
body {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
  background-color: bisque;
}

h1{
  color: antiquewhite;  
}
li a {
    text-decoration: none;
    color:bisque;
}

li a:hover{
  color:gold;
  font-weight:400;
}


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(70, 67, 67);
  height: 10vh;
}

.list li{
  display: inline-block;
  font-weight: 300;
  margin-inline: 15px;
 
}

button{
  padding: 8px;
  border:2px solid bisque;
  border-radius: 35px;
  background-color:rgb(70, 67, 67);
  color:  bisque;
}

button:hover{
  font-weight: 400;
  background-color:bisque;
  color:  rgb(70, 67, 67);
}

/* make position as fixed section*/
.fix header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(70, 67, 67); 
  z-index: 1000; 
}

/* home section*/

.content{
  margin-top: 15%;
  max-width: 600px;
  margin-left: 80px;
}

.wel{
  color: rgb(70, 67, 67);
}

.par{
  color: rgb(70, 67, 67);
  font-weight: 300;
}


/* style image section*/
.photo{
  position: absolute;
  right: 0;
  bottom: 20%;
  align-items: center;

}

/* about section*/

/* main class in about*/
.about{
  border: 5px solid rgb(70, 67, 67);
  border-radius: 20px;
  margin: 20px;
  background-color:bisque;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: right;
  max-width: 100%;
  max-height: 900px;
}

/* box class section*/
.box{
    padding: 50px;
    width: 250px;
    flex-basis: 50%;
    max-width: 900px;
    max-height: 800px;
  
}

/* style the heading section*/
.heading{
text-align: left;
text-decoration: underline;
}

/* style paragraph section*/
.para{
  font-weight: 400;
  border: 2px;
  border-radius: 20px;
  padding: 20px;
  background-color: beige;

}

/* style image section*/
.left-img{
  position:absolute;
  left: 100px;
  max-width: 900px;
  max-height: 450px;
  padding: 10px;
}


/* style product section*/

.contain{
   padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contain div{
  margin-inline: 5px;
  margin-top: 25px;
  border: 2px solid  rgb(70, 67, 67);
  border-radius: 10px;
  justify-content: center;
  padding: 20px;
    width: 300px;
    flex-basis: 20%;
}

.contain div:hover ,
.contain div:hover .dress,
.contain div:hover .rate
.contain div:hover .image{
  background-color: rgb(70, 67, 67);
  border-radius: 0%;
  color: bisque;
}

.prod{
  text-align: center;
}

.image{
  width: 200px;
  height: 200px;
}

.dress{
  font-weight: 400;
}

.rate{
  font-weight: 300;
  font-size: larger;
}


/* contact section*/

.con {
  display: flex;
  flex-wrap: wrap; 
  border: 2px solid rgb(70, 67, 67);
  border-radius: 20px;
  margin: 3%;
  padding: 20px; 
  justify-content: space-between; 
}

.con div {
  
  padding: 20px;
}

.con div h2 {
  color: rgb(70, 67, 67);
  text-align: center;
}

.con div p {
  font-weight: 400;
  color: rgb(70, 67, 67);
}

.connect {
  color: rgb(70, 67, 67);
  background-color: beige;
  border: 2px solid beige;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 150px;
  max-width: 450px; 
}

.con img{
  position: absolute;
  margin-left: 700px;
  max-width: 500px;
  max-height: 500px;
}
